body {
    font-family: "Helvetica Neue";
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.indnt {
    margin-left: 10px;
}
.asd {
    clear: both;
}
.hd {
    position: fixed;
    right: 10px;
    top: 10px;
}
.logo {
    margin: 0;
    font-size: x-large;
}
.source {
    clear: right;
    float: right;
}
.inf {
    height: 1em;
}
.menu {
    padding: 1em 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 3em;
}
.menu.edtrs {
    float: left;
}
.menu.brshs {
    clear: left;
}
.menu.tls {
    clear: left;
}
.menu .menu-item:last-child {
    margin-right: 0;
}
.menu-item {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.menu-item .btn {
    width: 70px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}
.menu-item .btn.active {
    background: black;
    color: white;
}
.workspace {
    cursor: crosshair;
}
.workspace>svg {
    border-style: solid;
    border-width: 1px 0;
}
.workspace.tile-editor>svg {
    border-width: 1px;
}
.workspace.inactive, .menu.inactive {
    display: none;
}
.cursor {
    stroke: black;
    stroke-width: 4px;
    fill: white;
}
.key-name {
    float: left;
    clear: both;
}
.key-desc {
    float: left;
}
