body {
    font-family: "Helvetica Neue";
    font-weight: 200;
}
.logo {
    float: right;
    margin: 0;
    font-size: medium;
}
.source {
    clear: right;
    float: right;
}
.inf {
    height: 1em;
}
.menu {
    padding: 1em 0 0 0;
    margin: 0;
    height: 3em;
}
.menu-item {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
.menu-item .btn {
    width: 70px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}
.menu-item .btn.active {
    background: black;
    color: white;
}
.workspace {
    clear: left;
    cursor: crosshair;
}
.workspace svg {
    width: 640px;
    height: 480px;
    border: 1px solid black;
}
.workspace.inactive, .menu.inactive {
    display: none;
}
.cursor {
    stroke: black;
    stroke-width: 4px;
    fill: white;
}
.key-name {
    float: left;
    clear: both;
}
.key-desc {
    float: left;
}
